body {
    background-color: antiquewhite;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    margin: auto;
    width: 40%;
}

.img-box {
    width: 100%;
}

.img-box img {
    max-width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
}

.image2 {
    display: none;
}

.text-box {
    width: 90%;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    padding: 5%;
    flex-direction: column;
}

.box-button {
    border-radius: 5px;
    color: white;
    background-color: green;
    width: 100%;
    align-self: center;
    padding: 10px 20px;
    text-align: center;
}

.box-button:hover {
    background-color: darkcyan;
}

#current-price {
    display: inline-block;
    font-size: 34px;
    color: green;
}

#main-text {
    font-style: normal;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 17px;
}

#price {
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .container {
      display: block;
      margin: auto;
      width: 45%;
    }

    .image1 {
        display: none;
    }

    .image2 {
        display: block;
    }

    .img-box img {
        border-radius: 8px 8px 0px 0px;
    }

    .text-box {
        background-color: white;
        border-radius: 0px 0px 8px 8px;
        padding: 5%;
        width: 90%;
    }
}
